<%= form_for @test do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.label :task %>
	<%= f.text_field :task %>
  <div class="large-6 columns">
    <label>Test Status</label>
    <%= f.radio_button :status, true %>
    <%= f.label :status, "Passing", :value => "true" %>
    
    <%= f.radio_button :status, false, :checked => true %>      
    <%= f.label :status, "Failing", :value => "false" %>
  </div>

	<%= collection_select(:test, :app_id, @apps, :id, :name) %>

	<%= f.submit 'Save', :class=>'button expand small' %>
<% end %>