<div class="row">
	<div class="large-12 columns">
		<h1 align="center" >All Applications and their Tests</h1>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
    <% if @user.apps == [] %>
      <%= "You have no applications or tests to display." %>
    <% else %>
  		<% @user.apps.each do |app| %> <br />
  			<table align="center">
  				<thead>
            <tr>
              <th colspan="100%"><%= app.name %></th>
  					<tr>
  						<th width="200">Name</th>
  						<th width="200">Task</th>
  						<th width="100">Passing?</th>
              <th width="50">Options</th>
  					</tr>
          </tr>
  				</thead>
  			<% app.tests.each do |test| %>
  			<tbody>
  				<tr>
  					<td align="left"><%= test.name %></td>
  					<td align="left"><%= test.task %></td>
  						<% if test.status == true %>
  							<td align="center"><%= image_tag("512/ios7-checkmark.png", size: "30x30", alt: "Passing" ) %></td>
  						<% else %>
  							<td align="center"><%= image_tag("512/ios7-close.png", size: "30x30", alt: "Failing") %></td>
  						<% end %>
            <td align="center"><%= link_to image_tag("512/ios7-gear.png", size: "30x30", alt: "Edit") %></td>
  				</tr>
  			</tbody>
  			<% end %>
  			</table>
  		<% end %>
    <% end %>
	</div>
</div>