<div class="row">
	<div class="large-12 columns">
		<h1>All Applications and their Tests</h1>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<% @user.apps.each do |app| %> <br />
			<table>
				<thead>
          <tr>
            <th colspan="3" ><%= app.name %></th>
					<tr>
						<th>Name</th>
						<th>Task</th>
						<th>Passing?</th>
					</tr>
        </tr>
				</thead>
			<% app.tests.each do |test| %>
			<tbody align="center">
				<tr>
					<td><%= test.name %></td>
					<td><%= test.task %></td>
						<% if test.status == true %>
							<td><%= image_tag("512/ios7-checkmark.png", size: "30x30", alt: "Passing" ) %></td>
						<% else %>
							<td><%= image_tag("512/ios7-close.png", size: "30x30", alt: "Failing") %></td>
						<% end %>
				</tr>
			</tbody>
			<% end %>
			</table>
		<% end %>
	</div>
</div>