<div class="row">
  <div class="large-12 columns">
    <h1 align="center">All Applications and their Tests</h1>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <% if @apps == [] %>
        <%= "There are no applications to display" %>
    <% else %>
        <table align="center">
          <% @apps.each do |app| %> <br/>
              <thead>
              <tr>
                <th colspan="100%"><%= app.name %></th>
              </tr>
              <tr>
                <th width="200">Name</th>
                <th width="200">Task</th>
                <th width="100">Passing?</th>
                <th width="50">Options</th>
              </tr>
              </thead>
              <% app.tests.each do |test| %>
                  <tbody>
                  <tr>
                    <td align="left"><%= test.name %></td>
                    <td align="left"><%= test.task %></td>
                    <% if test.status == true %>
                        <td align="center"><%= image_tag("green-checkmark.png", size: "30x30", alt: "Passing") %></td>
                    <% else %>
                        <td align="center"><%= image_tag("red-x.png", size: "30x30", alt: "Failing") %></td>
                    <% end %>
                    <td align="center"><%= link_to image_tag("512/ios7-gear.png", size: "30x30", alt: "Edit"), edit_test_path(test) %></td>
                  </tr>
                  </tbody>
              <% end %>
          <% end %>
        </table>
        <p align="center">
          <%= link_to(image_tag("512/ios7-plus.png", size: "40x40", alt: "Add New Test") + "Create New Test", new_test_path) %>
        </p>
    <% end %>
  </div>
</div>