<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title><%= content_for?(:title) ? yield(:title) : "Test Bench" %></title>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<div class="row">
  <div class="large-12 columns">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">Test Bench</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <% if user_signed_in? %>
              <li><%= link_to current_user.email, edit_user_registration_path %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <% else %>
              <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %></li>
              <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link' %></li>
          <% end %>
        </ul>

        <ul class="left">
          <li><%= link_to 'My Apps', apps_path %></li>
          <li><%= link_to 'Browse Tests', tests_path %></li>
        </ul>
      </section>
    </nav>
    <% if notice %>
        <p data-alert class="alert-box success radius"><%= notice %>
          <a href="#" class="close">X</a>
        </p>
    <% end %>
    <% if alert %>
        <p data-alert class="alert-box warning radius"><%= alert %>
          <a href="#" class="close">X</a>
        </p>
    <% end %>
    <%= yield %>
</body>
</html>